@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-poppins);
}

body {
    background-color: #0d0d0d;
}

.waitlist {
    padding-block: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

/* LOGO */

.logo {
    line-height: 0;
}

.logo-itself {
    width: 40px;
    height: 40px;
}

/* SMALL TITLE */

.small-title {
    display: flex;
    align-items: center;
    column-gap: 3px;
    color: white;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 8px 10px;
    border-radius: 0.8rem;
    background: linear-gradient(45deg, transparent, rgba(66, 66, 66, 0.2));
}

.small-title-svg {
    --size-svg: 18px;
    color: white;
    width: var(--size-svg);
    height: var(--size-svg);
}

.small-title-text {
    font-weight: 300;
    font-stretch: semi-condensed;
}

/* MAIN TITLE AND PARAGRAPH */

.main-title {
    font-size: 3.3rem;
    color: transparent;
    text-align: center;
    width: 770px;
    font-weight: 700;
    background: linear-gradient(30deg,white 40%, gray);
    background-clip: text;
    line-height: 65px;
}

.paragraph {
    width: 770px;
    text-align: center;
    color: rgb(170, 170, 170);
    font-weight: 400;
    font-size: 1.09rem;
    line-height: 30px;
}

/* JOIN WAITLIST CONTAINER */

.join-waitlist-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.join-waitlist-input {
    width: 350px;
    height: 50px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    background-color: rgba(255, 255, 255, 0.02);
    padding-inline: 15px;
    outline: none;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: border 300ms;
}

.join-waitlist-input:user-invalid {
    border: 1px solid red;
}

.join-waitlist-input::placeholder {
    font-weight: 300;
}

.join-waitlist-button {
    height: 50px;
    padding-inline: 15px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: rgb(22,22,22);
    color: white;
    font-weight: 600;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    cursor: pointer;
    transition: background-color 300ms;
}

.join-waitlist-button:hover {
    background-color: rgb(26,26,26);
}

/* PEOPLE WHO JOINED */

.people-who-joined-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/* PICTURE */

.picture-of-people-who-joined {
    display: flex;
    align-items: center;
    width: 68px;
    height: 27px;
    position: relative;
}

.picture-of-people-itself {
    position: absolute;
    width: 27px;
    height: 27px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.5);
}

.picture-of-people-itself:nth-of-type(2) {
    transform: translateX(20px);
}

.picture-of-people-itself:nth-of-type(3) {
    transform: translateX(40px);
}

/* PARAGRAPH */

.people-who-joined-paragraph {
    color: white;
    font-weight: 600;
}

/* DIVIDER */

.people-who-joined-divider {
    border: 0;
    border-left: 2px solid rgb(30, 30, 30);
    height: 27px;
}

/* SOCIAL MEDIA LINKS */

.people-who-joined-social-media-apps {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.people-who-joined-social-media-app-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.people-who-joined-social-media-app-link-svg {
    color: rgb(170, 170, 170);
    width: 22px;
    height: 22px;
    transition: color 300ms;
}

.people-who-joined-social-media-app-link:hover .people-who-joined-social-media-app-link-svg {
    color: white;
}